{#レイアウトを継承します#}
{% extends "layout/layout.twig" %}

{#HTMLのタイトルを定義します。#}
{% block title %}商品一覧{% endblock %}

{# このページに適用させたいスタイルシートを指定します #}
{% block header_scripts_add %}
<!-- <link rel="stylesheet"  href="post_list.css"> -->

<style>
.card{
  height:180px;
  width:450px;
  margin-bottom: 10px;
}
.left{
}

.right{
  background-color: blue
}

.titleName{
  font-size: 18px;
  position: absolute;
  top: 40px;
}

.subtitleName{
  font-size: 10px;
  position: absolute;
  bottom: 5px;
  left: 30px;
}

.date{
  font-size: 7px;
  position: absolute;
  bottom: 10px;
}

</style>
{% endblock %}

{#ここから表示したい情報を記載します。#}
{% block page_content %}
                {# 取得した結果分ループする処理です#}
                {# コントローラで指定した $data["result"] は Twigでは result として扱えます #}
                {# for文でresultの中の一次元目の配列をループで回す形となります #}
                {# ループ処理中の1行はrowの中に入りますので、このループ中はrow.カラム名で情報を表示することが可能です #}
                  <div class="container">
                    {% for row in result %}
                    <div class="row">
                      <div class="col-12 col-md-6">
                        <!-- ここからカード -->
                        <div class="card card-left">
                          <div class="container">
                            <div class="row">
                              <div class="col-2"><span><img src="eraiza.jpg"/></span></div>
                              <div class="col-8">
                                <div class="container">
                                  <div class="row">
                                    <div class="col-7">
                                      <div class="titleName">{{row.title}}</div>
                                      <div class="subtitleName">{{row.sub_title}}</div>
                                    </div>
                                    <div class="col-5">
                                      <p class="place">{{row.place}}</p>
                                      <p>{{row.create_date|date("Y年 m月 d日")}}</p>
                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div class="col-2"><button type="button" class="btn btn-primary">Like</button></div>
                            </div>
                          </div>
                        </div>
                        <!-- ここまでカード -->
                      </div>
                      <div class="col-12 col-md-6">
                        <!-- ここからカード -->
                        <div class="card card-right">
                          <div class="container">
                            <div class="row">
                              <div class="col-2">image</div>
                              <div class="col-8">{{row.title}}</div>
                              <div class="col-2">Good button</div>
                            </div>
                          </div>
                        </div>
                        <!-- ここまでカード -->
                      </div>
                    </div>
                    {% endfor %}
                  </div>
{% endblock %}

{#共通フッタとして追記したい情報を記載します。#}
{% block footer_scripts_add %}{% endblock %}
